<!DOCTYPE HTML>
<html>
	<head>
		<title>Film Launch</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body id="top">
				<section id="banner" data-video="images/banner">
					<div class="inner">
						<header>
							<h1>Welcome to Film Launch</h1>
						  <p>Where you can meet other film students, plan new ideas, and reach out to investors for funding</p>
            </header>
						<a href="#main" class="more">Learn More</a>
					</div>
				</section>

			<!-- Main -->
				<div id="main">
					<div class="inner">

					<!-- Boxes -->
						<div class="thumbnails">

							<div class="box">
								<a class="image fit"><img src="static/images/pic01.jpg" alt="" /></a>
								<div class="inner">
									<h3>Connect with other filmmakers</h3>
									<p>Join our network to instantly meet other young actors and filmakers, whether they're across town or across the globe!</p>
								</div>
							</div>

							<div class="box">
								<a class="image fit"><img src="static/images/pic02.jpg" alt="" /></a>
								<div class="inner">
									<h3>Share your work</h3>
									<p>Our platform lets you share your best work so others can find and check out your style</p>
								</div>
							</div>

							<div class="box">
								<a class="image fit"><img src="static/images/pic03.jpg" alt="" /></a>
								<div class="inner">
									<h3>Plan your next project</h3>
								  <p>You've found your dream team. Now it's time to use our exclusive suite of tools to help you begin your masterpiece</p>
                </div>
							</div>

							<div class="box">
								<a class="image fit"><img src="static/images/pic04.jpg" alt="" /></a>
								<div class="inner">
									<h3>Find funding</h3>
									<p>Our network of film investors are eagerly waiting to see what you have to offer them!</p>
								</div>
							</div>

<!--
							<div class="box">
								<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/pic05.jpg" alt="" /></a>
								<div class="inner">
									<h3>Nascetur nunc varius commodo</h3>
									<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
									<a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
								<div class="inner">
									<h3>Nascetur nunc varius commodo</h3>
									<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
									<a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>
-->
						</div>

					</div>
          <div class="inner">
            <h2>Interested in joining the Film Launch network?</h2>
            <p>Sign up below!</p><br>
            <form action="/" onsubmit="subFunc()">
              <label for="email">Enter your email:</label>
              <input type="email" id="email" name="email">
              <input type="submit">
            </form>
          </div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<h2>More about Film Launch</h2>
            <p>Founded in 2020, our goal is to help connect talented film makers and actors together to produce new projects. By connecting these teams with film investors, we can help young, struggling film students gain the exposure they deserve.</p>
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>.</p>
					</div>
				</footer>

		<!-- Scripts -->
			<script>
        function subFunc() {
          
        }
      </script>
      <script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/jquery.poptrox.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>
